body,
html {
  overflow-x: hidden;
  overflow-y: hidden;
}

.home-main {
  height: 100vh;
  width: 100vw;
}

#root {
  margin: 0 auto;
}

.gradient {
  background: linear-gradient(to bottom, #4c0000, #0a0a0a);
  background: linear-gradient(to bottom,
      rgba(44, 0, 0, 1),
      rgba(15, 15, 15, 0.6));
  background-color: black;
}

.gradient-2 {
  background: linear-gradient(to bottom, #4c0000, #0a0a0a);
}

.gradient-3 {
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0),
      rgba(15, 15, 15, 0.6));
}

.banner {
  background-image: url("./Background.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-left,
.menu-item,
.menu-items,
.sidebar {
  transition: 0.5s ease;
}

@media screen and (max-width: 1300px) {
  .menu-item {
    display: none;
  }

  .logo-name {
    display: none;
  }

  .home-left {
    width: 10%;
    min-width: fit-content;
  }

  .sidebar {
    padding: 0px 24px;
  }

  .info {
    display: none;
  }

  .menu-items div {
    justify-content: center;
  }

  .home-2 {
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  .home-2 {
    flex-direction: column;
    transform: translateX(10%);
  }

  .home-mid {
    width: 100%;
  }

  .home-right {
    width: 100%;
    padding: 42px 20%;
  }

  .song-img {
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .home-left {
    position: fixed;
    top: 0%;
  }
}